<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% load static%}
        <meta charset="UTF-8">
        <title>Login Sistema</title>

        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap-5.3.3/js/bootstrap.js' %}"></script>

        <style>
            body {
                background-color: #162239;
                background-size: cover;
                background-position: center;
                height: 100vh;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card {
                background-color: rgba(255, 255, 255, 0.8);
            }
        </style>
    </head>

    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">GRIMÓRIO</h2>
                        </div>
                        <div class="card-body">
                            <form action="/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" placeholder="Enter username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>