{% extends "base.html" %}

{% block title %}Gerar Boleto{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
{% if user.is_authenticated %}
    {% if user.is_staff %}
        <!-- Exibido apenas para administradores -->
        <button class="btn btn-success" onclick="window.location.href='{% url 'home_admin' %}'">Voltar</button>
    {% else %}
        <!-- Exibido para usuários comuns -->
        <button class="btn btn-success" onclick="window.location.href='{% url 'home' %}'">Voltar</button>
    {% endif %}
{% endif %}
    <h1 class="text-center flex-grow-1 mb-3">Gerar Documento de Solicitação</h1>
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-6">


        <h4 class="text-center mb-3">Preencha os dados para gerar o boleto</h4>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon1">Nome:</span>
                <input type="text" class="form-control" id="nome_cliente" name="nome_cliente" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon2">CNPJ:</span>
                <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj" required>
            </div>

            <div class="mb-3 input-group">
                <input type="text" class="form-control" id="inscricao_estadual" name="inscricao_estadual" placeholder="Inscrição Estadual">
                <span class="input-group-text" id="basic-addon3">IE</span>
            </div>

            <div class="mb-3 input-group">
                <input type="text" class="form-control" id="inscricao_municipal" name="inscricao_municipal" placeholder="Inscrição Municipal">
                <span class="input-group-text" id="basic-addon4">IM</span>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon5">Endereço:</span>
                <input type="text" class="form-control" id="endereco" name="endereco" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon6">Cidade:</span>
                <input type="text" class="form-control" id="cidade" name="cidade" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon7">Estado:</span>
                <input type="text" class="form-control" id="estado" name="estado" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon8">CEP:</span>
                <input type="text" class="form-control" id="cep" name="cep" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon9">@</span>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon10">📞</span>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text" id="basic-addon11">💼</span>
                <textarea class="form-control" id="servico" name="servico" placeholder="Descrição do Serviço" required></textarea>
            </div>

            <button class="btn btn-success mt-3 w-100" type="submit">Gerar Documento</button>
        </form>
    </div>
</div>
{% endblock %}