{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}

    <!-- Botão Voltar alinhado à esquerda com margem reduzida -->
    <div class="container d-flex mb-2" style="padding: 0;">
        <button class="btn btn-warning" onclick="window.history.back();">Voltar</button>
    </div>

    <!-- Conteúdo centralizado -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100" style="padding: 0; margin: 0;">

        <div class="card p-3" style="max-width: fit-content; width: 100%; border-radius: 12px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); background-color: #fff;">
            <div class="d-flex justify-content-between align-items-center mb-3" style="justify-content: center; margin-bottom: 1rem;">
                <h2 class="text-center mb-3" style="font-weight: 600; font-size: 28px; background: linear-gradient(135deg, #284783, #927c47); -webkit-background-clip: text; color: transparent;">
                    Registrar
                </h2>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark btn-lg w-100" type="submit" style="border-radius: 8px; background-color: #162239; color: white; font-weight: 500;">Registrar</button>
            </form>
        </div>
    </div>

{% endblock %}
